<!-- <mat-card class="card">
    <mat-card-header class="no_padding">
        <mat-card-title-group class="weather_info">
            <img mat-card-sm-image src="../../assets/img/weather_icons/sun.png">
            <div class="weather_data_box">
                <mat-card-title>München</mat-card-title>
                <mat-card-subtitle class="current_weather_name">{{weather.currently.icon}}</mat-card-subtitle>
                <mat-card-subtitle class="current_weather_name">{{weather.currently.temperature}} °C</mat-card-subtitle>
                <div class="humidity_box">
                    <img src="../../assets/img/weather_icons/humidity.png" alt="">
                    <mat-card-subtitle class="current_weather_name">{{weather.currently.humidity * 100}}
                        %</mat-card-subtitle>
                </div>
            </div>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="no_padding df_align-items_center">

    </mat-card-content>
</mat-card> -->

<mat-card class="card">
    <mat-card-header>
        <mat-card-title class="title">München's Wetter</mat-card-title>
        <mat-card-subtitle>10. Februar 2024</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="outer_content_container">
        <div class="inner_container_top">
            <div class="content_container">
                <h2>17°C</h2>
                <span>Gefühlt wie</span>
                <span>15°C</span>
            </div>
            <div class="content_container">
                <img src="../../assets/img/weather_icons/sun.png" alt="">
                <span>Sunny</span>
            </div>
        </div>
        <span></span>
        <div class="inner_container_bottom">

        </div>
    </mat-card-content>
</mat-card>