<mat-card class="card">
    <mat-card-header>
        <div class="search_location_container">
            <input type="text" placeholder="Search Location.." [(ngModel)]="input" (keyup)="search()">
            @if (searchResults && searchResults.length) {
            <div class="location_results_container">
                @for (item of searchResults; track $index) {
                <div class="geo_btn" (click)="getWeatherOfLocation(item)">
                    {{item.properties.formatted}}</div>
                }
            </div>
            }
        </div>
        @if (weatherData && weatherData.length) {
        <ng-container>
            <mat-card-title class="title">{{currentLocation.city}}, {{currentLocation.country}}</mat-card-title>
            <mat-card-subtitle>{{weatherData[0].date}}</mat-card-subtitle>
        </ng-container>
        }
    </mat-card-header>
    <mat-card-content class="outer_content_container">
        <div class="inner_container_top">
            @if (weatherData && weatherData.length) {
            <div class="content_container">
                <h2>{{currentTemp}}°C</h2>
                <span>Feels Like</span>
                <span>{{weatherData[0].apparentTemperatureHigh}}°C</span>
            </div>
            <div class="content_container">
                <span>High {{weatherData[0].temperatureMax}}°C</span>
                <span class="line"></span>
                <span>Low {{weatherData[0].temperatureMin}}°C</span>
            </div>
            <div class="content_container">
                <img src="../../assets/img/weather_icons/{{weatherData[0].icon}}.png" alt="">
                <span>{{weatherData[0].summary}}</span>
            </div>
            }
        </div>
        <span class="line"></span>
        <div class="inner_container_bottom">
            @for (item of weatherData; track $index) {
            @if ($index !== 0) {
            <div class="forcast_container">
                <span>{{item.weekday}}</span>
                <img src="../../assets/img/weather_icons/{{item.icon}}.png" alt="">
                <span>{{item.temperatureMax}}°C</span>
                <span>{{item.temperatureMin}}°C</span>
            </div>
            }
            }
        </div>
    </mat-card-content>
</mat-card>

<!-- item.properties.lat, item.properties.lon, item.properties.city, item.properties.country -->